{% extends 'base.html' %} 
{% block title%}
EmbassyOS Package Tracker | About
{% endblock %}
{% block content %}
<div class="card">
    <h1>About</h1>
    <p>The embassyOS Package Tracker is an app designed to help organize and manage apps to be packaged for use in the EmbassyOS homeserver.
        These packages .s9pk are built largely by the community and as a result what you put into your EmbassyOS is what you put it so you better make sure everything is running smoothly!
        Understanding that not everyone can be a super-coder out of the box the team at EmbassyOS has made some excellent tutorials and helpful steps to take to getting your first package built for the EmbassyOS.
        Here is a great resource to get started!
        <a href="https://github.com/Start9Labs/hello-world-wrapper">Start9Labs/hello-wold-wrapper</a>
    </p>
</div>
{% endblock %}
