{% extends 'base.html' %} 
{% block title%}
    Embassy Package Tracker
{% endblock %}
{% block content %}
<div class="card">
    <a href="{% url 'about' %}">
        <h1>Package Tracker</h1>
        <p>Index of current packages under development</p>
        <p>Index </p>
    </a>
</div>
<div class="card">
    <a href="https://github.com/Start9Labs/service-pipeline" target="_blank">
        <h1>Service Packaging Guide</h1>
        <p>About the Embassy Package Tracker and its purpose</p>
        <p>Start9 servicce-pipeline </p>
    </a>
</div>
<div class="card">
    <a href="{% url 'about' %}">
        <h1>About</h1>
        <p>About the Embassy Package Tracker and its purpose</p>
        <p>About </p>
    </a>
</div>
{% endblock %}